<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.t2health.mtbi"
      android:versionCode="3"
      android:versionName="1.0.2">
    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name"
    	android:theme="@style/CustomTheme">
    	
        <activity android:name=".activity.StartupActivity"
			android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity
			android:name=".activity.ActivityUriLoader">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:scheme="t2mtbi" android:host="workflow" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:scheme="t2mtbi" android:host="itemsbrowser" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:scheme="t2mtbi" android:host="assessment" />
			</intent-filter>
		</activity>

        <activity
        	android:name=".activity.MainActivity">
       	</activity>

       	<activity
        	android:name=".activity.MainPreferenceActivity"
        	android:label="@string/settings">
       	</activity>

		<activity
        	android:name=".activity.QAMAFManagerActivity">
       	</activity>

       	<activity
        	android:name=".activity.QAMAFSliderQuestionActivity">
       	</activity>

		<activity
        	android:name=".activity.QAPHQ9ManagerActivity">
       	</activity>

       	<activity
        	android:name=".activity.SplashActivity"
        	android:screenOrientation="portrait">
       	</activity>

       	<activity
			android:name=".activity.VCodesActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:scheme="t2mtbi" android:host="vcodes" />
			</intent-filter>
		</activity>


       	<activity
        	android:name=".activity.XMLWorkflowActivity">
       	</activity>

		<activity
			android:name="org.t2health.lib.activity.WebViewActivity">
		</activity>
		
		<activity
			android:name="org.t2health.lib.activity.XMLItemsBrowserActivity">
		</activity>
		
		<activity
			android:name="org.t2health.lib.qa.SimpleQAManagerActivity">
		</activity>
		<activity
			android:name="org.t2health.lib.qa.SingleChoiceQuestionActivity">
		</activity>
		<activity
			android:name="org.t2health.lib.qa.SumQAManagerActivity">
		</activity>
		
		<!-- Turn on analytics -->
		<meta-data android:name="analyticsEnabled" android:value="true" />
		<meta-data android:name="analyticsProvider" android:value="flurry" />
		<meta-data android:name="analyticsKey" android:value="AMVY58IXVCRRT44VIUJA" />
		
		<!-- Turn on remote stack traces -->
		<meta-data android:name="remoteStackTraceEnabled" android:value="true" />
		<meta-data android:name="stackTraceURL" android:value="http://www2.tee2.org/trace/report.php" />
    </application>
</manifest>